body {
  margin: 0;
  font-family: sans-serif;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 100vh;
  background-color: #333;
  color: #fff;
  transition: width 0.3s;
  overflow: hidden;
  z-index: 1;
}

.sidebar.expanded {
  width: 200px;
}

.toggle-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #444;
  border: none;
  color: white;
  padding: 8px;
  cursor: pointer;
}

.links {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.links a {
  color: white;
  text-decoration: none;
  margin: 5px 0;
}


.main-content {
  margin-left: 50px; 
  padding: 20px;
  transition: margin-left 0.3s ease;
}


.sidebar.expanded ~ .main-content {
  margin-left: 200px;
}
